@import "../../node_modules/font-awesome/scss/font-awesome";

$body-bg: hsl(210, 46%, 95%);
$body-color: hsl(214, 17%, 51%);
$title-color: hsl(217, 19%, 35%);
$date-color: hsl(212, 23%, 69%);
$link-color: #222222;
$border-radius-lg: 1rem;
$font-family-base: 'Manrope', sans-serif;
$h1-font-size: 1.2rem;
$dark: $title-color;
$popover-arrow-width: 2rem;
$popover-arrow-height: 1rem;

@import "../../node_modules/bootstrap/scss/bootstrap";

html{
  font-size: 13px;
}

body{
  font-weight: 500;
  min-width: 320px;
}

small{
  font-size: 0.9rem;
}

.main {
  max-width: 768px;
}

.article-title{
  font-weight: 700;
  color: $title-color;
  line-height: 1.75rem;
}

.avatar-image{
  width: 3rem;
  height: 100%;
}

.date-text{
  color: $date-color;
}

.person-name-text{
  color: $title-color;
  font-weight: 700;
}

.share-button{
  background-color: $body-bg;
  color: $body-color;
  width: 3rem;
  height: 3rem;
}

.bg-image{
  min-height: 250px;
  background-image: url("../images/drawers.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.share-component{
  .share-text{
    font-weight: 700;
    letter-spacing: 5px;
    color: $date-color;
  }

  .fa:not(.fa-share){
    font-size: 2rem;
  }

  .fa{
    color: $body-bg;
  }

  .share-button{
    background-color: $body-color;
  }
}

@include media-breakpoint-up(xl) {
  .w-75 {
    width: 50% !important;
  }
}

@include media-breakpoint-up(sm) {
  .popover{
    min-width: 250px;
    max-width: 250px;
    padding: 10px;
    margin-bottom: 2rem;
    background-color: $title-color;

    .arrow{
      border-color: $title-color;
    }
  }

  .bs-popover-top .arrow::after,
  .bs-popover-auto[x-placement^="top"] .arrow::after {
      border-top-color: $title-color;
  }

  .bs-popover-bottom .arrow::after,
  .bs-popover-auto[x-placement^="bottom"] .arrow::after {
      border-bottom-color: $title-color;
  }

  .share-text{
    font-weight: 700;
    letter-spacing: 5px;
    color: $body-color;
  }

  .fa:not(.fa-share){
    font-size: 2rem;
    color: $body-bg;
  }
}

@include media-breakpoint-down(sm) {
  #share-popover {
    display: none;
  }
}